
.swiper-wrapper {
  position: relative;
  width: 556px;
  height: 500px;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}


.mySwiper {
  width: 95%;
  margin-top: 100px;
  box-shadow: 1px 1px 43px rgb(223, 203, 189);

}

.mySwiper-head {
  box-shadow: 1px 1px 23px rgb(228, 186, 157);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}



.mySwiper .postimg {
  width:208px;
  height:223px;

}

.item_carousel_img_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper h3 {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}

/* .mySwiper h2 {
  font-size: 20px;
  margin-top: 5px;
} */

.cardd{
  background-color: rgb(245, 244, 244);

}

.swiper-container {
  padding: 20px;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.carousel_item_title{
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #9d5b2c;
}

.popular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 15px;

  
}

.cardd {
  max-width: 400px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

/* 
.card-container {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 390px;
  box-shadow: 0 0 10px black;
  border-radius: 0 10px 10px 0;
} */


/* @media (max-width: 991px) {
  .mySwiper {
    width: 100%;
  }

  .card {
    max-width: 500px;
  }

  .card-container {
    height: 350px;
  }

  .card-description {
    height: 350px;
  }

  .card-description {
    height: 450px;
  }

  .card-description h1 {
    font-size: 22px;
    margin-top: 120px;
  }

  .card-description p {
    font-size: 18px;
  }

 

  .container {
    min-width: 100%;

  }


  .text-2xl {
    font-size: 30px;
  }




}

@media (max-width: 767px) {
  .mySwiper {
    width: 100%;
  }

  .card-container-main {
    width: 100%;
  }

  .card {
    max-width: 400px;
  }

  .card-container {
    height: 380px;
  }

  .card-description {
    height: 380px;
  }


  .card-description {
    height: 480px;
  }

  .card-description h1 {
    font-size: 26px;
    margin-top: 140px;
  }

  .card-description p {
    font-size: 20px;
  }

  .container {
    min-width: 100%;
  }


  .text-2xl {
    font-size: 20px;
  }



}

@media (min-width: 992px) and (max-width: 1279px) {
  .mySwiper {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }

  .card-container {
    height: 390px;
  }

  .card-description h1 {
    font-size: 12px;
    margin-top: 90px;
  }

  .card-description p {
    font-size: 16px;
  }

  .swiper-slide {
    width: 50%;
    height: 390px;
  }

  .container {
    min-width: 100%;
  }
} */



.container {
  width: 80%;
  margin: 0 auto;
}


.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;

}

.col-4 {
  width: calc(100% / 3);
}


.col-12 {
  width: 100%;
}



/* desktop responsive - xs */
/* @media only screen and (max-width:575px) {
  .container-xs {
    width: 80%;
    margin: 0 auto;
  }

  .container-xs-fluid {
    width: 100%;
    padding: 0 15px;

  }

  .col-xs-4 {
    width: calc(100% / 3);
  }


  .col-xs-12 {
    width: 100%;
  }

  .nav__menu_bar {
    display: block;

  }

  .menubar {
    display: block;
  }

  .logo {
    width: 150px;
  }
} */

/* phone responsive - sm */
/* @media only screen and (min-width:576px) {
  .container-sm {
    width: 80%;
    margin: 0 auto;
  }

  .container-sm-fluid {
    width: 100%;
    padding: 0 15px;

  }

  .col-sm-4 {
    width: calc(100% / 3);
  }


  .col-sm-12 {
    width: 100%;
  }

} */

/* tablet responsive - md */
/* @media only screen and (min-width:768px) {
  .container-md {
    width: 80%;
    margin: 0 auto;
  }

  .container-md-fluid {
    width: 100%;
    padding: 0 15px;

  }


  .col-md-4 {
    width: calc(100% / 3);
  }

  .col-md-12 {
    width: 100%;
  }

} */

/* desktop responsive - lg */
/* @media only screen and (min-width:992px) {
  .container-lg {
    width: 80%;
    margin: 0 auto;
  }

  .container-lg-fluid {
    width: 100%;
    padding: 0 15px;

  }


  .col-lg-4 {
    width: calc(100% / 3);
  }

  .col-lg-12 {
    width: 100%;
  }

} */


.swiper__body {
  padding: 10px;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}




.slide-home .swiper-button-prev,
.slide-home .swiper-button-next {
  display: none !important;
}


@media screen and (min-width: 320px) and (max-width: 768px){


.popular {
  width: 100%;
}

.swiper-wrapper {
  position: relative;
width: 100%;
height: auto;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.carousel_item_title{
  font-size: 10px;
}

}