.single_blog_post_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 100px;
    font-size: 12px;
    
}
.span{
    color: rgb(96, 93, 93);
    font-weight: 500;
}
.single_blog_post{
    width: 60%;
    padding: 15px 30px;
    box-shadow: 1px 1px 65px rgb(222, 198, 182);
    background-color: rgb(248, 241, 234);

}

.single_post_img_wrapper{
    width: 100%;
}

.single_post_img_wrapper img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.single_post_title_wrappper p{
    font-size: 27px;
    font-weight: 700;
    margin: 10px 0;
    color: rgb(129, 129, 129);
}

.title_and_buttons_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10px 0;
}

.buttons_wrapper{
    display: flex;
    margin-left: 10px;
}

.buttons_wrapper p{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blog_post_author_single{
    width: 100%;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.348); */
    margin-top: -18px;
    padding: 10px 0;
}

.blog_post_author_single .left{
    margin-right: 15px;
}

.author_name_wrapper h2{
    font-size: 14px;
    font-weight: 500;
    transform: translateY(7px);
}

.blog_post_author_single .left img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(136, 136, 136, 0.262);
    
}

.author_and_timestamps{
    display: flex;
    justify-content: space-between;
}

.author_txxt{
    font-weight: 600;
    border-bottom: 1px solid gray;
}
.general {
    display: flex;
    justify-content: space-around;
}
.single_post_description_wrapper{
    margin: 10px 0;
    margin-top: 20px;
}
.red-text {
    color: #e08e53;
    font-weight: 600;
    font-size: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.ordinary {
   margin-left: 30px;
}
.red-content {
    width: 150px;
    height: 7px;
    background-color: brown;
}

.rating{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 90px;
}

.__title{
    font-weight: 700;
    font-size: 22px;
    color: rgb(92, 92, 92);
}

.color-indicator {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 59px;
    margin-top: -21px;
  }
  
  .color-indicator.white {
    background-color: rgb(243, 241, 241);
  }
  
  .color-indicator.black {
    background-color: black;
  }
  
  .color-indicator.green {
    background-color: green;
  }
  
  /* Add more color classes for each color option */
  
  .color-indicator.yellow { background-color: yellow; } 
  .color-indicator.red { background-color: red; } 
  .color-indicator.pink { background-color: pink; } 
  .color-indicator.blue { background-color: blue; } 
  .color-indicator.gray { background-color: gray; } 
  .color-indicator.orange { background-color: orange; } 
  .color-indicator.beige { background-color: rgb(122, 111, 7); } 
  .color-indicator.purple { background-color: purple; } 
  .color-indicator.brown { background-color: rgb(123, 74, 38); } 

  @media screen and (min-width: 320px) and (max-width: 768px){


    .single_blog_post {
        width: 90%;
        padding: 15px 30px;
        border: 1px solid rgba(128, 128, 128, 0.255);
        margin-top: 30px;
    }
    .single_post_img_wrapper img {
        width: 100%;
        height: 234px;
        object-fit: contain;
        border-radius: 10px;
    }
    .single_post_title_wrappper p {
        font-size: 15px;
        font-weight: 700;
        margin: 10px 0;
        color: rgb(129, 129, 129);
    }

    .red-text {
        color: #e08e53;
        font-weight: 600;
        font-size: 16px;
    }
    .color-indicator {
        position: relative;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin-left: 48px;
        margin-top: -15px;
    }
  }


  @media screen and (min-width: 768px) and (max-width: 1279px){

    .single_blog_post {
        width: 90%;
        padding: 15px 30px;
        border: 1px solid rgba(128, 128, 128, 0.255);
        margin-top: 20px;
    }
    .single_post_img_wrapper img {
        width: 100%;
        height: 314px;
        object-fit: contain;
        border-radius: 10px;
    }
    .single_post_title_wrappper p {
        font-size: 22px;
        font-weight: 700;
        margin: 10px 0;
        color: rgb(129, 129, 129);
    }

    .red-text {
        color: #e08e53;
        font-weight: 600;
        font-size: 19px;
    }
    .color-indicator {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-left: 53px;
        margin-top: -18px;
    }


  }
