.latest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #b97341;
  margin-top: 170px;
  letter-spacing: 0.5rem;
}
.latestimg {
  width: 100%;
  height: 627px;
  /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .latest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
  }
  h1 {
    text-align: center;
    font-size: 10px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(36px);
    width: 260px;
  }
  .latestimg {
    width: 318px;
    height: 229px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(5px);
  }
}

@media screen and (min-width: 502px) and (max-width: 768px) {
  .latestimg {
    width: 395px;
    height: 229px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(40px);
  }
  h1 {
    text-align: center;
    font-size: 10px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(105px);
    width: 260px;
  }

}

@media screen and (min-width: 528px) and (max-width: 768px) {
  .latestimg {
    width: 425px;
    height: 229px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(40px);
  }
  h1 {
    text-align: center;
    font-size: 11px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(115px);
    width: 260px;
  }

}
@media screen and (min-width: 643px) and (max-width: 768px) {
  .latestimg {
    width: 515px;
    height: 229px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 15px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 370px;
  }

}
@media screen and (min-width: 715px) and (max-width: 768px) {
  .latestimg {
    width: 615px;
    height: 229px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 15px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 470px;
  }

}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .latestimg {
    width: 625px;
    height: 229px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 15px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 480px;
  }

}
@media screen and (min-width: 838px) and (max-width: 1279px) {
  .latestimg {
    width: 725px;
    height: 259px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 17px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 570px;
  }

}

@media screen and (min-width: 987px) and (max-width: 1279px) {
  .latestimg {
    width: 825px;
    height: 289px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 21px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 680px;
  }

}

@media screen and (min-width: 1169px) and (max-width: 1279px) {
  .latestimg {
    width: 1025px;
    height: 389px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 23px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 890px;
  }

}

@media screen and (min-width: 1245px) and (max-width: 1279px) {
  .latestimg {
    width: 1125px;
    height: 489px;
    /* box-shadow: 1px 1px 23px rgb(182, 159, 142); */
    margin-top: 30px;
    cursor: pointer;
    transform: translateX(50px);
  }
  h1 {
    text-align: center;
    font-size: 25px;
    color: #b97341;
    margin-top: 102px;
    letter-spacing: 0.5rem;
    transform: translateX(125px);
    width: 1090px;
  }

}