.countdown{
  background-color: rgb(238, 230, 222);
  display: flex;
  width: 680px;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid gray;
  border-radius: 18px;
  margin-top: 70px;
  
}
.sale {
background-size: cover;
background-position: center center;
min-height: 99vh;
width: 1010px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-repeat: no-repeat;
}
.time-unit{
  padding: 50px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: rgb(15, 94, 196);
}
.timeP{
  font-weight: 500;
  font-size: 20px;
}
.sectionsale{
  display: flex;
}
.rightSale{
  width: 43%;
}
.mySwiperSale{
  width: 100%;
  margin-top: 100px;

}
.cardd {
  max-width: 400px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.mySwiperSale-head {
  box-shadow: 1px 1px 23px rgb(228, 186, 157);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.mySwiperSale .postimg {
  width:208px;
  height:223px;
  margin-top: 70px;

}
.carousel_item_title_sale{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #1c1c1c;
  height: 40px;
}
.PostPrice{
  font-size: 20px;
  transform: translate(10px,10px);
  font-weight: bold;
  color: #a1131f;
  text-decoration: line-through;
  padding-right: 16px;

}
.newprice{
  display: flex;
  flex-direction: row;

}
.newPostprice{
  font-size: 20px;
  transform: translate(8px,10px);
  font-weight: bold;
  color: #359d2c;
}




@media screen and (min-width: 320px) and (max-width: 768px){


.time-unit {
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: rgb(15, 94, 196);
}
.sectionsale {
height: 221px;
display: flex;
flex-direction: column;
background-color: orange;
}
.sale {
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(https://img.freepik.com/premium-vector/flash-sale-banner-template-hot-color-background_42331-3510.jpg?w=2000);
background-size: contain;
background-position: center center;
min-height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-repeat: no-repeat;
}
.countdown {
background-color: rgb(238, 230, 222);
display: flex;
width: 268px;
justify-content: center;
align-items: flex-end;
border: 1px solid gray;
border-radius: 18px;
margin-top: 30px;
}
.popular {
width: 100%;
height: 300px;

}
.swiper-wrapper {
position: relative;
width: 100%;
height: auto;
z-index: 1;
display: flex;
transition-property: transform;
box-sizing: content-box;
}
.carousel_item_title_sale{
font-size: 13px;
transform: translateY(-10px);
height: 40px;
}
.mySwiperSale .postimg {
width:168px;
height:223px;
margin-top: 70px;

}
 .rightSale{
width: 100%;
}
.PostPrice{
  font-size: 10px;
  transform: translate(10px,10px);
  font-weight: bold;
  color: #a1131f;
  text-decoration: line-through;
  padding-right: 16px;

}
.newprice{
  display: flex;
  flex-direction: row;

}
.newPostprice{
  font-size: 10px;
  transform: translate(8px,10px);
  font-weight: bold;
  color: #359d2c;
}
.mySwiperSale .postimg {
  width:158px;
  height:203px;
  margin-top: 70px;

}


}


@media screen and (min-width: 546px) and (max-width: 768px){
  .PostPrice{
    font-size: 13px;
    transform: translate(17px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newprice{
    display: flex;
    flex-direction: row;
  
  }
  .newPostprice{
    font-size: 13px;
    transform: translate(15,10px);
    font-weight: bold;
    color: #359d2c;
  }




}

@media screen and (min-width: 769px) and (max-width: 1279px){


  .time-unit {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: rgb(15, 94, 196);
  }
  .sectionsale {
  height: 221px;
  display: flex;
  flex-direction: column;
  background-color: orange;
  }
  .sale {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(https://img.freepik.com/premium-vector/flash-sale-banner-template-hot-color-background_42331-3510.jpg?w=2000);
  background-size: contain;
  background-position: center center;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  }
  .countdown {
  background-color: rgb(238, 230, 222);
  display: flex;
  width: 268px;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid gray;
  border-radius: 18px;
  margin-top: 30px;
  }
  .popular {
  width: 100%;
  height: 300px;
  margin-top: 60px;
  
  }
  .swiper-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  }
  .carousel_item_title_sale{
  font-size: 13px;
  transform: translateY(-10px);
  height: 40px;
  }
  .mySwiperSale .postimg {
  width:168px;
  height:223px;
  margin-top: 70px;
  
  }
   .rightSale{
  width: 100%;
  }
  .PostPrice{
    font-size: 10px;
    transform: translate(10px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newprice{
    display: flex;
    flex-direction: row;
  
  }
  .newPostprice{
    font-size: 10px;
    transform: translate(8px,10px);
    font-weight: bold;
    color: #359d2c;
  }
  .mySwiperSale .postimg {
    width:158px;
    height:203px;
    margin-top: 70px;
  
  }

}
@media screen and (min-width: 567px) and (max-width: 687px){

  .PostPrice{
    font-size: 10px;
    transform: translate(23px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 10px;
    transform: translate(30px,10px);
    font-weight: bold;
    color: #359d2c;
  }

}
@media screen and (min-width: 688px) and (max-width: 768px){

  .PostPrice{
    font-size: 10px;
    transform: translate(50px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 10px;
    transform: translate(45px,10px);
    font-weight: bold;
    color: #359d2c;
  }

}

@media screen and (min-width: 755px) and (max-width: 768px){

  .PostPrice{
    font-size: 13px;
    transform: translate(60px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 13px;
    transform: translate(55px,10px);
    font-weight: bold;
    color: #359d2c;
  }

}


@media screen and (min-width: 765px) and (max-width: 1279px){

  .PostPrice{
    font-size: 15px;
    transform: translate(73px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 15px;
    transform: translate(65px,10px);
    font-weight: bold;
    color: #359d2c;
  }
  .carousel_item_title_sale{
    transform: translateY(30px);
  }

}
@media screen and (min-width: 847px) and (max-width: 1279px){

  .PostPrice{
    font-size: 15px;
    transform: translate(80px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 15px;
    transform: translate(75px,10px);
    font-weight: bold;
    color: #359d2c;
  }
  .carousel_item_title_sale{
    transform: translateY(30px);
  }

}

@media screen and (min-width: 989px) and (max-width: 1279px){

  .PostPrice{
    font-size: 15px;
    transform: translate(160px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 15px;
    transform: translate(159px,10px);
    font-weight: bold;
    color: #359d2c;
  }
  .carousel_item_title_sale{
    transform: translateY(30px);
  }

}

@media screen and (min-width: 1068px) and (max-width: 1279px){

  .PostPrice{
    font-size: 15px;
    transform: translate(122px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 15px;
    transform: translate(129px,10px);
    font-weight: bold;
    color: #359d2c;
  }
  .carousel_item_title_sale{
    transform: translateY(30px);
  }

}

@media screen and (min-width: 1236px) and (max-width: 1279px){

  .PostPrice{
    font-size: 15px;
    transform: translate(180px,10px);
    font-weight: bold;
    color: #a1131f;
    text-decoration: line-through;
    padding-right: 16px;
  
  }
  .newPostprice{
    font-size: 15px;
    transform: translate(169px,10px);
    font-weight: bold;
    color: #359d2c;
  }
  .carousel_item_title_sale{
    transform: translateY(30px);
  }

}