@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
.navbar {
  margin: 0;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 33px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(68, 68, 68, 0.115);
  background-color: white;
}

.navbar a {
  text-decoration: none;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
}
.center {
  transform: translateY(3px);
  width: 219px;
}

.center .search_wrapper {
  width: 215px;
  position: relative;
  margin-left: 100px;
}
.logo-text {
  letter-spacing: 0.6rem;
  font-family: monospace;
  font-weight: 700;
  color: rgb(66, 64, 64);
}

.rightt .menu-link {
  margin-top: -10px;
}
.right .menu-link {
  transform: translateY(8px);
}
.rightt {
  margin-top: 6.7px;
}

.navbar .left {
  transform: translate(1px, 0px);
}
.center .search_wrapper input {
  width: 100%;
  border-radius: 20px;
  padding: 7px 0px;
  padding-left: 15px;
  padding-right: 35px;
  border: 2px solid transparent;
  outline: none;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.484);
  transition: 0.2s ease;
}

.center .search_wrapper input:focus {
  border: 2px solid #e08e53;
}

.search-icon-nav {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.navbar .menu-link a {
  margin-left: 58px;
  font-size: 16px;
  transform: translateY(-9px);
  padding: 2px 5px;
  font-weight: 500;
  letter-spacing: 0.1px;
  transition: 0.2s ease;
}
.left .menu-link {
  transform: translateX(75px);
}
.left .right {
  margin-top: -23px;
}

.navbar .menu-link .ml:hover {
  border-bottom: 2px solid #e08e53;
}

.hideSearch {
  display: none;
}
.mll-basket .shopbag {
  width: 30px;
  height: 24px;
  transform: translateY(5.2px);
}

.showSearch {
  display: block;
}

.nav_profile_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid gray;
  padding: 2px;
  transform: translateY(10px);
  object-fit: cover;
  margin-left: 10px;
}

.nav_profile_img {
  text-decoration: none;
}

.nav_profile_img:hover {
  border: none;
  border-bottom: transparent;
}

.box {
  display: none;
}
.mll-basket {
  margin-right: -50px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .ml {
    display: none;
  }

  .box {
    display: block;
    transform: translateY(3px);
  }
  .navbar .left {
    transform: translate(7px, -12px);
  }
  .center .search_wrapper {
    width: 90%;
    position: relative;
    margin-left: 19px;
  }
  .center {
    transform: translateY(3px);
    width: 37%;
  }
  .mll-basket {
    margin-right: -67px;
    color: rgb(66, 64, 64);
    font-size: 17px;
    font-weight: 700;
  }
  .navbar {
    margin: 0;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 11px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.115);
    background-color: white;
  }
  .mll-basket .shopbag {
    width: 30px;
    height: 24px;
    transform: translate(-24px, 23px);
  }
  .nav_profile_image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 0.5px solid gray;
    padding: 2px;
    transform: translate(7px, -6px);
    object-fit: cover;
    margin-left: 15px;
  }
  .center .search_wrapper input {
    width: 100%;
    border-radius: 20px;
    padding: 7px 0px;
    padding-left: 15px;
    padding-right: 35px;
    border: 2px solid transparent;
    outline: none;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.484);
    transition: 0.2s ease;
    font-size: 10px;
  }
  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -102px;
    margin-top: 33px;
  }

  .ml-login {
    display: flex;
    color: rgb(66, 64, 64);
    font-size: 17px;
    font-weight: 700;
    transform: translateX(52px);
  }

  .ml-register {
    display: flex;
    flex-direction: row;
  }
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }
  .rightt {
    margin-top: 6px;
  }
}

@media screen and (min-width: 430px) and (max-width: 440px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 7px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }
}

@media screen and (min-width: 330px) and (max-width: 440px) {
  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -39px;
    margin-top: 33px;
  }

  .navbar .menu-link a {
    margin-left: 32px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }
}

@media screen and (min-width: 348px) and (max-width: 440px) {
  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -102px;
    margin-top: 11px;
  }
  .navbar .menu-link a {
    margin-left: 53px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
}
}

@media screen and (min-width: 383px) and (max-width: 440px) {
  .navbar .menu-link a {
    margin-left: 53px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
}
}

@media screen and (min-width: 424px) and (max-width: 440px) {
  .navbar .menu-link a {
    margin-left: 57px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
}
}
@media screen and (min-width: 426px) and (max-width: 440px) {
  .navbar .menu-link a {
    margin-left: 61px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
}
}

@media screen and (min-width: 516px) and (max-width: 768px) {
  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -178px;
    margin-top: 33px;
  }
}

@media screen and (min-width: 440px) and (max-width: 450px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 2px 9px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }
}

@media screen and (min-width: 451px) and (max-width: 471px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 5px 8px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .rightt .menu-link {
    margin-top: 31px;
  }

  .rightt {
    margin-top: -34px;
    margin-left: 18px;
  }
}
@media screen and (min-width: 471px) and (max-width: 768px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 5px 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .rightt .menu-link {
    margin-top: 31px;
  }

  .rightt {
    margin-top: -32px;
    margin-left: 60px;
  }
}
@media screen and (min-width: 497px) and (max-width: 768px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 5px 15px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .rightt .menu-link {
    margin-top: 31px;
  }

  .rightt {
    margin-top: -32px;
    margin-left: 70px;
  }
}
@media screen and (min-width: 516px) and (max-width: 768px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 5px 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .rightt .menu-link {
    margin-top: 31px;
  }

  .rightt {
    margin-top: -32px;
    margin-left: 180px;
  }
}

@media screen and (min-width: 618px) and (max-width: 768px) {
  .navbar .left {
    transform: translate(7px, -12px);
  }
}

@media screen and (min-width: 637px) and (max-width: 769px) {
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(0px);
    padding: 5px 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .rightt .menu-link {
    margin-top: 31px;
  }

  .rightt {
    margin-top: -32px;
    margin-left: 230px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .ml {
    display: none;
  }

  .box {
    display: block;
    transform: translateY(3px);
  }
  .nav_profile_image {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 0.5px solid gray;
    padding: 2px;
    transform: translate(-15px, 10px);
    object-fit: cover;
    margin-left: 15px;
  }
  .mll-basket .shopbag {
    width: 32px;
    height: 32px;
    transform: translate(-24px, 9px);
  }

  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -53px;
    margin-top: 16px;
  }
  .ml-login {
    display: flex;
  }

  .ml-register {
    display: flex;
    flex-direction: row;
  }
  .navbar .menu-link a {
    margin-left: 58px;
    font-size: 16px;
    transform: translateY(-3px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .rightt {
    margin-top: 5px;
  }
  .navbar .left {
    transform: translate(-46px, -12px);
    width: 100px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .navbar .menu-link a {
    margin-left: 34px;
    font-size: 16px;
    transform: translateY(-3px);
    padding: 2px 5px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }
  .center {
    transform: translateY(3px);
    width: 283px;
  }
}

@media screen and (min-width: 778px) and (max-width: 1279px) {
  .navbar .left {
    transform: translate(13px, -12px);
    width: 294px;
  }
  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -28px;
    margin-top: 16px;
    /* width: 276px; */
    transform: translateX(412px);
  }
  .center .search_wrapper {
    width: 215px;
    position: relative;
    margin-left: 64px;
  }
}

@media screen and (min-width: 898px) and (max-width: 1279px) {
  .navbar .left {
    transform: translate(-25px, -12px);
    width: 294px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1279px) {
  .navbar .left {
    transform: translate(-102px, -12px);
    width: 100px;
  }
}

@media screen and (min-width: 1031px) and (max-width: 1279px) {
  .navbar .left {
    transform: translate(-135px, -12px);
    width: 100px;
  }
}

@media screen and (min-width: 1064px) and (max-width: 1279px) {
  .navbar .left {
    transform: translate(-136px, -12px);
    width: 100px;
  }
  .center {
    transform: translate(70px, 3px);
    width: 241px;
  }
}

@media screen and (min-width: 1179px) and (max-width: 1279px) {
  .navbar .left {
    transform: translate(-190px, -12px);
    width: 100px;
  }

}


@media screen and (min-width: 1279px) and (max-width: 1296px) {
  .navbar .menu-link a {
    margin-left: 41px;
    font-size: 16px;
    transform: translateY(-9px);
    padding: 2px 7px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .center {
    transform: translateY(3px);
    width: 84px;
  }

  .center .search_wrapper {
    width: 177px;
    position: relative;
    margin-left: 13px;
  }
}

@media screen and (min-width: 1296px) {
  .navbar .menu-link a {
    margin-left: 43px;
    font-size: 16px;
    transform: translateY(-9px);
    padding: 2px 7px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .center {
    transform: translateY(3px);
    width: 40px;
  }

  .center .search_wrapper {
    width: 177px;
    position: relative;
    margin-left: 13px;
  }
}
@media screen and (min-width: 986px) and (max-width: 1279px) {
  .righttt {
    display: flex;
    flex-direction: row;
    margin-left: -416px;
    margin-top: 26px;
    width: 284px;
  }
  .navbar .left {
    transform: translate(-57px, -12px);
    width: 294px;
  }
}
@media screen and (min-width: 1245px) and (max-width: 1278px) {
  .navbar .left {
    transform: translate(-222px, -11px);
    width: 100px;
  }

}

@media screen and (min-width: 1356px) {
  .navbar .menu-link a {
    margin-left: 60px;
    font-size: 16px;
    transform: translateY(-9px);
    padding: 2px 7px;
    font-weight: 500;
    letter-spacing: 0.1px;
    transition: 0.2s ease;
  }

  .center {
    transform: translateY(3px);
    width: 40px;
  }

  .center .search_wrapper {
    width: 177px;
    position: relative;
    margin-left: 13px;
  }
}

@media screen and (min-width: 1236px) and (max-width: 1279px){
  .navbar .left {
    transform: translate(-123px, -12px);
    width: 294px;
}


}